*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    max-height: 100vh;
    background-color: #64686b;
}

#Mood-Logger-Section{
    background-color: gray;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    padding-top: 1vh;
}

.btns{
    display: flex;
    flex-direction: row;
    gap: 2vh;
}

.mood-btns{
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    background-color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.11);
    font-size: x-large;
}

.calendar-section{
    font-size: larger;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vh;
}

input{
    padding: 0.5vh;
    border: none;
}

button{
    cursor: pointer;
}

#save-mood-btn , #show{
    padding: 0.8vh;
    border: none;
    border-radius: 20px;
}

.viewing-section{
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
}

.view-box{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
}

#show{
    margin-top: 2vh;
}

#moods{
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vh;
    height: 50vh;
    display: flex;
    gap: 2vh;
    display: flex;
    justify-content: space-between;
}

